

//Fuentes
$titulos : "Montserrat", serif;
$frases : "Arimo", serif;
$fuentePrincial: "Public Sans", serif;

/*
        --- USOS ---
    font-family: "Public Sans", serif;
     font-optical-sizing: auto;
    font-style: normal;

    asi se usan todas las fuentes reemplazando por el nombre d ela variable
  
  */

//Colores
$white : #ffffff;
$black : #000000;
$soft-black : #151515;
$off-white: #f0f0f0; 

//Medai Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;