@font-face {
  font-family: "KENAO";
  src: url('/src/fuentes/Kenao.eot');
  src: url('/src/fuentes/Kenao.eot?#iefix') format('embedded-opentype'),
       url('/src/fuentes/Kenao.woff2') format('woff2'),
       url('/src/fuentes/Kenao.woff') format('woff'),
       url('/src/fuentes/Kenao.svg#KENAO') format('svg');
  font-weight: normal;
  font-style: normal;
}

//Fuentes
$titulos : "KENAO", sans-serif;
$frases : "Arimo", serif;
$fuentePrincial: "Arial", serif;
$categorias: "Josefin Slab", serif;

/*
        --- USOS ---
    font-family: "Public Sans", serif;
     font-optical-sizing: auto;
    font-style: normal;

    asi se usan todas las fuentes reemplazando por el nombre d ela variable
  
  */

//Colores
$white : #ffffff;
$black : #000000;
$soft-black : #151515;
$off-white: #f0f0f0; 

//Medai Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;