@use 'base/variables' as v;
@use 'base/mixins' as m;

.main__title {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

.main__category {

    .main__category__title {
        width: 80%;
        padding: 1rem;
        margin: 0 auto;
        font-family: v.$categorias;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid #333;
        border-radius: 5rem;
    }

    .platillos {
        margin-bottom: 3rem;
    }
}
.nombre-precio {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;

    .nombre {
        font-weight: normal;
        font-size: 1.7rem;
    }

    .linea {
        flex-grow: 1;
        border-bottom: 2px dotted gray;
    }

    .precio {
        font-weight: bold;
        font-size: 1.7rem;
        white-space: nowrap;
    }
}

.descripcion {
    width: 100%;
    margin-top: 0;
    text-align: left;
    font-size: 1.2rem;
}